# по умолчанию такая
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/postgres"

# редиски пока нет
REDIS_URL="no redis"

# генерация командой (linux)
# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
SECURITY_KEY="CHANGE-THIS-PLEASE"

# настройка токенов
# ACCESS указан в минутах
# REFRESH в днях
ACCESS_TOKEN_EXPIRES=15
REFRESH_TOKEN_EXPIRES=30

DEBUG=true